#  Object Files
*.OBJ
*.obj
*.o

#  Library Files
*.LIB
*.lib
*.a

# List Files
*.LST
*.lst

# Map files
*.MAP
*.map
*.sym

# Executable files
*.COM
*.EXE
*.com
*.exe
utils/exeflat


# FreeDOS build tools configuration
config.bat
config.mak


kernel/KERNEL.SYS
kernel/*.sys
kernel/*.rsp
bin/COMMAND.COM
bin/command.com
bin/country.sys
bin/K*.sys
bin/k*.sys
